<li class="nav-item">
  <a href="<%= hotels_path %>" class="nav-link">
<i class="nav-icon far fa-calendar-alt"></i>
<p>
Hotels
<span class="badge badge-info right"></span>
</p>
</a>
</li>
<li class="nav-item">
<a href="<%= rooms_path %>" class="nav-link">
<i class="nav-icon far fa-image"></i>
<p>
Rooms
</p>
</a>
</li>
<li class="nav-item">
<a href="<%= bookings_path %>" class="nav-link">
<i class="nav-icon fas fa-columns"></i>
<p>
Bookings
</p>
</a>
</li>

<li class="nav-item">
<a href="<%= roles_path %>" class="nav-link">
<i class="nav-icon fas fa-columns"></i>
<p>
Roles
</p>
</a>
</li>
