<li class="nav-item">
  <a href="<%= hotels_path %>" class="nav-link">
<i class="nav-icon far fa-calendar-alt"></i>
<p>
Find Hotels
<span class="badge badge-info right"></span>
</p>
</a>
</li>

<li class="nav-item">
<a href="<%= bookings_path %>" class="nav-link">
<i class="nav-icon fas fa-columns"></i>
<p>
My Bookings
</p>
</a>
</li>
